<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Veja <strong>Marte Attack</strong> no 
        <a href="http://yooying.com/marteattack" target="_blank">Instagram</a> e no 
        <a href="http://facebook.com/marteattack"target="_blank">Facebook</a>
      </p>
      <p>Ⓒ 2017
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>