<section class="hero is-dark is-large">
  <div class="hero-body">
    <div class="container">
      
		
	
	<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <div class="video-container">
      <iframe width="600" height="450" src="https://www.youtube.com/embed/lXpx8glr4bE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  </div>

<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <div class="video-container">
      <iframe width="600" height="450" src="https://www.youtube.com/embed/QYKAjw_Q5ts" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
  <div class="video-container">
    <iframe width="600" height="450" src="https://www.youtube.com/embed/videoseries?list=PLa3EtqXAIIRQcFigE52BnkK7SyB4_dAxO" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
</div>

<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
  <div class="video-container">
    <iframe width="600" height="450" src="https://www.youtube.com/embed/videoseries?list=PLa3EtqXAIIRRK2_K23XHtoBL1qFgY3hjr" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
</div>
	
	
	
    </div>
  </div>
</section>

