<section class="hero is-dark is-large">
  <div class="hero-body bot">
    <div class="container">
      
     <article class="tile is-child notification is-dark">
      <div class="content">
        <p class="title"></p>
        <p class="subtitle"></p>
        <div class="content">
          
          <p class="title is-3">Punk Rock e Psicodelia Alienigena</p>
          <p class="subtitle is-5">Letras ácidas e melodias rápidas</p>

          <p>Surf Music, Hard Core, Punk e Psicodelia são aspectos encontrados na produção músical  da banda, 
com letras que retratam problemas sociais e políticos na realidade brasileira em uma pespectiva atormentada. 
 Em outras palavras, são trilhas sonoras boas para andar de skate.</p>
          <p>Residente da cidade de Vila Velha, Espirito Santo, a banda foi formada em 2011.</p>
          <p>Todas as músicas estão disponíveis gratuitamente em serviços como <a href="https://open.spotify.com/artist/6W6h49uKQwkwcrrHAfyF7j" target="_blank">Spotfy</a>,<a href="https://www.youtube.com/user/marteattack" target="_blank"> Youtube</a>,<a href="http://facebook.com/marteattack" target="_blank"> Facebook</a> e 
            <a href="https://marteattack.bandcamp.com/
" target="_blank">Bandcamp</a>, ou para <a href="http://www.mediafire.com/file/y2lo097020e16qo/Marte+Attack+M%C3%BAsicas.rar" target="_blank">download aqui</a></p>
          
        </div>
      </div>
    </article>
      	
    </div>
  </div>
</section>
