<section class="hero is-dark is-large">
  <div class="hero-body">
    <div class="container containerCenter">
      
	
	
<article class="tile is-child notification is-dark">
      <div class="content">
        <p class="title is-3">Email:</p><p></p>
        <p class="subtitle is-5">bandamarteattack@gmail.com</p>
        </div>
      <div class="content">
        <p class="title is-3">Facebook:</p>
        <a class="subtitle is-5" href="http://www.facebook.com/marteattack" target="_black" class="subtitle is-4 decoreNone">facebook.com/marteattack</a>
      </div>
      <div class="content">
        <p class="title is-3">Instagram:</p>
        <a class="subtitle is-5" href="http://yooying.com/marteattack" target="_black" class="subtitle is-4 decoreNone">Instagram</a>
      </div>
        <div class="content">

      </div>
    </article>
	<p></p>
          <p></p>
	
	
    </div>
  </div>
</section>

